.fc {
  height: 70vh;
  z-index: -1;
}

#fc-dom-648 {
  font-size: 1rem;
}

.fc-event-main {
  z-index: -1;
}

.fc-header-toolbar.fc-toolbar {
  background-color: #ffffff;
  /* border-radius: 10px; */
  border-bottom: 1px solid #dadfe4;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

/* .fc-prev-button,
.fc-button,
.fc-button-primary,
.fc-today-button {
  background-color: #ffffff;
} */

.fc-next-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary {
  background-color: #ffffff;
  border: none;
  color: black;
}

.fc-view-harness {
  background-color: #ffffff;
  border: none;
}

#fc-dom-86 {
  font-size: 15px;
  margin-right: auto;
}

.fc-today-button.fc-button.fc-button-primary {
  display: none;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border: none;
}

.fc-day {
  text-align: center;
}
