.dashboardWrapper {
  background-color: rgb(236, 233, 233);
  color: #151a20;
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
  width: 100%;
}

.sideBar {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px rgba(1, 1, 1, 0.1);
}

.banner {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadfe4;
  gap: 10px;
  height: 8%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.kantunLogo {
  height: 100%;
  width: 2rem;
  margin-bottom: auto;
}

.sidebarButtons {
  font-weight: bold;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  padding-left: 5px;
  gap: 5px;
}

.sidebarButtons:hover {
  background-color: #efebff;
  transition: 0.5s;
}

.userControls {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
}

.sidebarItems {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100%;
}

.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
}

.user {
  border-bottom: 1px solid #dadfe4;
  border-radius: 0px;
}
